# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
.gd filter=lfs diff=lfs merge=lfs -text
.glsl.import filter=lfs diff=lfs merge=lfs -text
.gd.uid filter=lfs diff=lfs merge=lfs -text
.glsl filter=lfs diff=lfs merge=lfs -text
